<div class="container-fluid text-center">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/productos" routerLinkActive="active">Productos</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ producto?.nombre }}
        </li>
      </ol>
    </nav>
  
    <div class="card" style="width: 18rem">
      <img [src]="producto?.imagen" class="card-img-top" [alt]="producto?.nombre" />
      <div class="card-body">
        <h5 class="card-title">{{ producto?.nombre }}</h5>
        <p class="card-text">Tipo: {{ producto?.tipo }}</p>
      </div>
    </div>
  </div>
