<style>
  .navbar-custom {
    background-color: #20dae0; /* Cambia este color al que desees */
  }
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
    color: #f76f00; /* Cambia el color del texto al que desees */
    font-weight: bold;
    font-size: 2rem;

  }
</style>
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
        <img src="{{ imagenLogo }}" alt="logo" style="height: 70px" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" *ngFor="let path of paths">
                <a 
                class="nav-link active" 
                aria-current="page"
                [routerLink]="path.path" 
                routerLinkActive="active">
                    {{path.nombre}}
            </a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
